<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!--    <link rel="icon" href="/favicon.ico" type="image/x-icon" />-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
          crossorigin="anonymous">

    </script>


    <title>ex6 Anael Mizrahi & Yarden Seri Levi</title>
</head>
<body>
<!--<div class="has-bg-img">-->
<!--    <img class="bg-img" src="image/backgraund image.jpg" alt="background picture ">-->
<!--    <div>image/nasa.jpg-->
<!--        <img src="image/nasa.jpg" class=" img-fluid " alt="The picture of NASA" height="100" width="300">-->
<!--    </div>-->
<div class="text-center">
<img src="image/nasa.jpg" class=" img-fluid " alt="The picture of NASA" height="80" width="160">
</div>
    <div class="container">







