<%- include('includes/head.ejs') %>

<div class="row bg-light ">
    <div class="d-block" id="login">
        <div class="col-6 offset-3 mb-2 mt-2" style="color:red"> <%=error%> </div>
        <form class="needs-validation" novalidate id="password-form" action="/password" method="post">
            <div class="col-6 offset-3 mb-2 mt-2">
                <label>Password</label>
                <input class="form-control" type="password" name="password" id="password"
                       aria-label="default input example" required >
                <p style="color:red" class="error password-error"></p>
            </div>

            <div class="col-6 offset-3 mb-2 mt-2">
                <label>confirm-password</label>
                <input class="form-control" type="password" name="confirmPassword" id="confirmPassword"
                       aria-label="default input example" required >
                <p style="color:red" class="error confirm-password-error"></p>
            </div>

            <div class="col-6 offset-3 mb-2 mt-2">
                <button type="submit" class="btn btn-primary">Sign in </button>
                <a href="/register" class="text-decoration-none">back</a>
                <div class="text-center">
                    <h6><span>Already have an account?</span>
                        <a href="/login" class="text-decoration-none">Sign-in</a></h6>
                </div>
            </div>
        </form>
    </div>
</div>

</div>

<script src="javascripts/passwordForm.js">
<%- include('includes/endPage.ejs') %>





