<%- include('includes/head.ejs') %>

<div class="row bg-light ">
    <div class="d-block" id="login">

        <form class="needs-validation" novalidate id="register-form" action="password" method="post">
            <div class="col-6">

                <label>First Name</label>
                <input class="form-control" type="text" name="firstName"
                       placeholder="Your first name including letters only"
                       aria-label="default input example" required/>
                <p class="error firstName-error"></p>
            </div>


            <div class="col-6">
                <label>Last Name</label>
                <input class="form-control" type="text" name="lastName"
                       placeholder="Your last name including letters only"
                       aria-label="default input example" onblur="validateStr(this.value)" required/>
                <p class="error lastName-error"></p>
            </div>

            <div class="col-6">
                <label>Email</label>
                <input class="form-control" type="email" name="email"
                       placeholder="Your email address"
                       aria-label="default input example" onblur="validateEmail(this.value)" required/>
                <p class="error email-error"></p>
            </div>
            <button type="submit" class="btn btn-primary">submit</button>
        </form>

    </div>

    <div class=" d-none" id="mainPage">

        <div class="col-6">

            <label>Get picture/video from date:</label>
            <input class="form-control" type="date" id="currDate"
                   aria-label="default input example"
                   min="1900-01-01" max="2023-12-31">

        </div>
        <button type="submit" id="date" class="btn btn-primary">submit</button>
        <p class="error date-error"></p>
    </div>
</div>

<div id="display" class="d-none">
    <div id="elements"></div>
    <p class="error server-error"></p>
    <button type="submit" id="more" class="btn btn-primary">More</button>
    <button type="button" id="backButton" class="btn btn-primary ">Back</button>
</div>

</div>



<!--onblur="validateStr(this.value)"-->
<!--<script>-->
<!--    function validateStr(str)-->
<!--    {-->
<!--        const regex = /^[a-zA-Z]+$/;-->
<!--        if(!(regex.test(str) && str.toString().length < 32 && str.toString().length > 3))-->
<!--        {-->
<!--            document.querySelector(".lastName-error").innerText = "wrong input";-->
<!--        }-->
<!--    }-->
<!--</script>-->

<!--<script>-->
<!--    function validateEmail(str)-->
<!--    {-->
<!--        const regex = /^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$/;-->
<!--        if(!(regex.test(str) && str.toString().length < 32 && str.toString().length > 3))-->
<!--        {-->
<!--            document.querySelector(".email-error").innerText = "wrong email address";-->
<!--        }-->
<!--    }-->
<!--</script>-->

<%- include('includes/endPage.ejs') %>





